[2017-12-06 18:53] Galarius opened #1 "'OpenCL: Info' command for Linux"
Build & Test [Command-line tool to get info about OpenCL platforms/devices](https://github.com/Galarius/ocl-info) for Linux

[2018-01-01 23:39] KazNX opened #2 "Toggle Line Comment command does not function"
Using the "Toggle Line Comment" command (hot key: "Ctrl+/" or "Command+/") does nothing. It should comment the current line or selected lines using line comments "//".

[2018-01-01 23:40] KazNX opened #3 "No syntax highlighting for some types (mostly unsigned)"
The following types do not receive syntax highlighting:

uchar
ucharN
ushort
ushortN
uint
uintN
ulong
ulongN
size_t
uintptr_t
atomic_intptr_t
atomic_uintptr_t
atomic_size_t
atomic_ptrdiff_t
Note they they are recognised as auto completion keywords. The unsigned type is fine.

[2018-01-02 11:51] Galarius commented on #3
Keywords highlighting depends on the installed color theme in VS Code.

I noticed that it works e.g. on `Abyss`  and `Light+` themes:

<img width="697" alt="abyss" src="https://user-images.githubusercontent.com/7501085/34482802-76bd66a2-efcb-11e7-8b86-4c571364afa4.png">
<img width="696" alt="light default light" src="https://user-images.githubusercontent.com/7501085/34482803-76ef307e-efcb-11e7-9ab

[2018-01-02 19:22] #2 closed

[2018-01-02 22:16] KazNX commented on #3
@Galarius Thanks for the quick fix. I'm using the them Dark (Visual Studio) and indeed other themes are showing the syntax highlighting just fine. Your recent fix has address all the listed types except for the following, which are still not highlighting under the Dark (Visual Studio) theme:
ushort
uint
size_t
uintptr_t

[2018-01-02 22:16] KazNX commented on #2
@Galarius Thanks. All good now.

[2018-01-03 11:31] Galarius commented on #3
Those types were missed. Now they also should receive highlighting.

<img width="692" alt="dark" src="https://user-images.githubusercontent.com/7501085/34518730-c6fba784-f091-11e7-9477-9544089ab019.png">

@KazNX, the official update will be later, but you can install [`pre-release`](https://github.com/Galarius/vscode-opencl/releases/download/0.1.5-pre/vscode-opencl-0.1.5-pre.vsix) version.

[2018-01-03 11:31] #3 closed

[2018-07-02 11:42] 24367dfa opened #4 "Add Code Formatter for .cl files"
The package currently does not provide a code formatter for openCL files

[2018-07-02 16:54] Galarius commented on #4
I will look into it asap. Thank you for proposing the issue!

[2018-07-07 11:35] Galarius commented on #4
New [release](https://github.com/Galarius/vscode-opencl/releases/tag/0.3.0) is available. Added support for external formatters (e.g. [AStyle](http://astyle.sourceforge.net)).

[2018-07-07 11:35] #4 closed

[2018-07-29 05:09] peter73421 opened #5 "off-line compiling"
Is there any plans support (integrate) off-line opencl compiler ? So opencl code compiled into binary beforehand  it's use ...

[2018-07-29 13:58] Galarius commented on #5
The plans for offline compiling support are at the very first stage. Integration of some external `clcc` utilities might appear in vscode-opencl in October.

[2018-07-29 14:12] peter73421 commented on #5
I am working with embedded device and its own opencl/openvx utilities, I assume it'll be a generic approach and so it can be customized. Since I find "vs-code and its plugin system" flexible enough to be adapted for embedded development as well.

[2018-08-21 15:57] #1 closed

[2018-08-21 15:58] Galarius commented on #1
In #6 .

[2018-08-25 15:34] Galarius commented on #5
The following offline OpenCL compilers should be considered as predefined:

- [OpenCL.framework/Libraries/openclc](https://developer.apple.com/library/archive/samplecode/OpenCLOfflineCompilation/Introduction/Intro.html) (on macOS)

- [OpenCL Standalone offline compiler from `Intel® SDK for OpenCL`](https://software.intel.com/en-us/articles/programming-with-the-intel-sdk-for-opencl-applications-dev

[2018-08-25 16:07] peter73421 commented on #5
This would require to have Intel SDK OCL installed, would it work for Linux/Ununtu?

[2018-09-05 17:34] Galarius commented on #5
@peter73421 I've published a preview version [0.5.0-pre](https://github.com/Galarius/vscode-opencl/releases/tag/0.5.0-pre). It introduces offline kernel compilation using [VS Code Tasks](https://code.visualstudio.com/Docs/editor/tasks). By default `ioc32/ioc64` is used on Linux/Windows and `opeclc` is used on macOS (shipped with XCode).

It should be possible to customize build task for your own o

[2018-09-19 16:43] Galarius commented on #5
Implemented in #8 .

[2018-09-19 16:43] #5 closed

[2018-12-18 11:28] manuliner opened #9 "predefined tasks"
Hello,

i can't find your predefined tasks.

may i ask you to provide them seperately so i can just paste them into my task.json

runnning on win 10

[2018-12-18 12:18] Galarius commented on #9
Hello!

An example of a build task:

![](https://raw.githubusercontent.com/Galarius/vscode-opencl/master/images/vscode-opencl-clc-3.png)

The extension generates tasks for each detected .cl file in a project directory. Do you have a kernel file inside your project which is opened in VS Code?

[2018-12-18 12:20] manuliner commented on #9
there is no task.json generated by the extension

![screenshot 2018-12-18 13 18 59](https://user-images.githubusercontent.com/5088151/50153798-bfbb9580-02c7-11e9-8e0b-ade1ba37321e.png)

[2018-12-18 12:32] manuliner commented on #9
fyi:

the predfined task is working without the spriv64 argument

[2018-12-18 12:46] Galarius commented on #9
Not yet, but I’ll look into it.

[2018-12-19 09:39] Galarius commented on #9
I’ve noticed that you are using command palette instead of a task runner on your screenshot.

Please try to run predefined tasks from the Task menu (see the screenshot).

![](https://raw.githubusercontent.com/Galarius/vscode-opencl/master/images/vscode-opencl-clc-1.png)

[2018-12-19 09:43] Galarius commented on #9
In your version of VS Code Task menu was renamed to Terminal.

[2018-12-19 09:46] manuliner commented on #9
there is no Tasks menu on the menubar

if i go over terminal->run tasks the inputfield opens and tells me that ther are no defined task, if i want to build some.
- i prompt this and get redirected to the next inputfield to create task.json from template
- options: MSBuild, maven, .NETCore and others

[2018-12-21 18:56] Galarius commented on #9
I reproduced the issue. Tasks are still being generated, but are not displayed in the latest VS Code version.

[2018-12-22 19:54] Galarius commented on #9
Fixed it! The release is coming soon...

[2018-12-23 08:20] Galarius commented on #9
[Release 0.5.1](https://github.com/Galarius/vscode-opencl/releases/tag/0.5.1) is available in Marketplace.

[2019-01-02 14:44] manuliner commented on #9
cool,
it is working now

thank you very much . Love it

[2019-02-07 14:26] definelicht opened #10 "clang-format support"
Hey,

I have not had luck configuring clang-format as the OpenCL formatter.
The following has not worked for me:
[code]
I'm not getting any errors, it just does not have any effect.
If I run `clang-format -i <filename>` from the terminal it works as expected.

Perhaps this is related to how the formatter is called, but this is not clear to me from the documentation.
Am I doing something wrong? If

[2019-02-07 15:22] Shogutora commented on #9
VSCode release 1.31 Broke this again. Just updated today and tasks are lost from the menu.

[2019-02-07 17:32] Galarius commented on #10
Hello!

Your configuration looks fine. Could you tell me what operating system are you using and what is the version of VSCode?

`clang-format` prints result to `stderr` with `--verbose` flag. However the extension outputs to `stdout`, so you will not get any log from it.

I have tried to use this formatter. It worked fine, however I noticed that there is no effect in the case if file was already

[2019-02-07 18:22] Galarius commented on #9
Yes, something is broken again, I will look into it.

[2019-02-11 17:33] Galarius commented on #9
According to [vscode/issues/67990](https://github.com/Microsoft/vscode/issues/67990) the introduced fix for VS Code ^1.31.0 is incompatible with older releases.

[2019-02-11 17:36] Galarius commented on #10
It would probably be better to make `clang-format` the default formatting utility instead of `astyle` and captures `stderr` output.

[2019-02-12 14:50] definelicht commented on #10
I'm on Arch Linux, kernel version 4.20.3, clang-format version 7.0.1, Visual Code version 1.30.2.

It seems there might be an incompatibility with the Vim plugin: when I disable it, I can _occasionally_ get clang-format to work, although it seems I have to manually refresh the document to see the changes.

[2019-02-16 18:15] Galarius commented on #9
[Release 0.5.2](https://github.com/Galarius/vscode-opencl/releases/tag/0.5.2) is available in Marketplace.

[2019-02-16 18:20] Galarius commented on #10
I will update formatter in a future release. It will use `clang-format` that is built-in vscode-cpptools.

[2019-03-08 17:33] Galarius commented on #9
Does not work for VS Code 1.32.1.

[2019-03-08 17:51] Galarius commented on #9
False alert

[2019-03-08 17:51] #9 closed

[2019-05-12 13:24] #10 closed

[2019-06-27 11:37] PirminStraub opened #11 "Syntax Highlighting lost when passing Enum as Parameter"
Hi Galarius, I just stumbled over the fact that the Syntax Highlighting is lost when passing an Enum as Parameter. Here is an example:
[code]
Keep up the good work! It is much appreciated!

[2019-06-27 18:19] Galarius commented on #11
Hi, @PirminStraub!

1. Which Color Theme you are using in VS Code?
2. What is the version of VS Code?

[2019-06-27 18:44] PirminStraub commented on #11
1. Dark+ (default dark) - though the issue persists throughout all the other Color Themes as far as I could make out.
2. Version 1.35.1- seems to be the current one (for Windows)

[2019-06-27 18:46] PirminStraub commented on #11
![vscode-syntaxhighlighting-1](https://user-images.githubusercontent.com/42964073/60292045-8c179300-991c-11e9-8957-93c8fd56623e.JPG)
![vscode-syntaxhighlighting-2](https://user-images.githubusercontent.com/42964073/60292066-9cc80900-991c-11e9-9b74-97f7c03dd04b.JPG)

[2019-06-28 20:49] Galarius commented on #11
@PirminStraub, the `vscode-opencl` extension provides syntax highlighting for OpenCL keywords only. For C/C++ It is reusing grammar from [ms-vscode.cpptools](https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools). I have tried your sample in regular `.c` and `.cpp` files. In `.c` file the `enum` prefix was highlighted correctly, and in `.cpp` file the syntax highlighting was broke

[2019-11-02 15:34] Galarius commented on #11
Fixed in [0.6.1](https://github.com/Galarius/vscode-opencl/releases/tag/0.6.1)

[2019-11-02 15:34] #11 closed

[2020-01-26 10:35] RunDevelopment opened #12 "clang-format doesn't work out of the box"
I never worked with the formatter as is before and was very confused when VS Code just opened the terminal and outputted my formatted code.

I then found that you have to give `clang-format` the `-i` arg for it to work.
Please document this as I expect the default formatter of this extension to just work.

Alternatively, the extension could just add `-i` to the list of args automatically. If that

[2020-01-26 10:56] Galarius commented on #12
Hello @RunDevelopment!

Actually the extension adds `-i` to the list of args already.
Could you provide additional information, so I can reproduce the behaviour you are describing?

1. Do you use "Format Document" action from the context menu in VS Code?
2. Are you trying to format `*.cl` file?
3. Do you have C++ extension installed in VS Code?
4. Did you override settings `opencl.formatting.name`

[2020-01-26 11:52] RunDevelopment opened #13 "ioc32/ioc64 doesn't work with #include"
I can't get the IOC to work properly with the problem matcher of the task. When files contain `#include`s, I need to set the cwd of the IOC process to the directory where my files are but this will cause the IOC to output relative paths for included files. E.g.

[code]

This relative file format isn't supported by the problem matcher, even though I used `options.cwd` to set the working directory.

[2020-01-26 11:57] RunDevelopment commented on #12
1. I use `Alt + Shift + F` which calls the "Format Document" action, so yes.
2. Yes.
3. No. I have clang (and by extension) clang-format installed separately. The directory of clang-format is included in my Path variable. clang-format itself is called.
4. No. But when I override `opencl.formatting.options` with `"opencl.formatting.options": ["-i"]`, it works.
5. Win 10 64bit Version	10.0.18362 Bui

[2020-01-26 12:09] RunDevelopment commented on #12
I see. Point 2 is [the cause](https://github.com/Galarius/vscode-opencl/blob/af92734a9726837d9d99e0d19440440e5c889240/src/formattingProvider.ts#L32) of the issue.
Well, if no args are provided, it should probably still set the `-i` flag.

[2020-01-26 13:28] Galarius commented on #12
The extension requires `ms-vscode.cpptools` to be installed as well. In that case in-place formatting will be done out of box.

Argument `-i` might not work for other formatters. In the next release I'll set `-i` for custom formatter if it is a `clang-formatter`.

[2020-01-26 13:32] Galarius commented on #13
That requires a research...
@RunDevelopment, do you have a sample code that you can share for testing this case?

[2020-01-26 13:56] RunDevelopment commented on #12
Sorry, my bad. I thought this extension only needs `ms-vscode.cpptools` because of `clang-format`.

Thank you for your help!

[2020-01-26 13:56] #12 closed

[2020-01-26 14:37] RunDevelopment commented on #13
Sample project: [sample.zip](https://github.com/Galarius/vscode-opencl/files/4113575/sample.zip)

The output of `opencl: custom build absolute` will this:

[code]

As you can see, it can't find `line.cl` because the current working directory of `ioc64` is the project directory `c:\Users\micha\Downloads\sample`.

The output of `opencl: custom build relative`

[code]

That will work but IOC outputs

[2020-01-28 06:51] Galarius commented on #13
@RunDevelopment, thank you for the detailed description. I believe the issue with problemMatcher’s configuration I specified for IOC. Take a look at [this line](https://github.com/Galarius/vscode-opencl/blob/af92734a9726837d9d99e0d19440440e5c889240/package.json#L140).

I suggest to replace built-in problem matcher `$opencl.common` with manual configuration:

[code]

Just remove `"fileLocation": "a

[2020-01-28 16:00] RunDevelopment commented on #13
I tried you suggestion and after some trial and error I present this:

<details>

[code]

</details>

It works for me but the problem matcher has one obvious problem: I hardcoded the cwd.

This is because just `"fileLocation": "autoDetect"` resolve `line.cl` as `/line.cl` on my Windows PC (same for `./line.cl`).

`"fileLocation": "relative"` will resolve `line.cl` as `${workspaceFolder}/line.cl` a

[2020-01-28 18:42] Galarius commented on #13
It's definitely not enough, but it's a good start. I've added note about the issue to [ReadMe](https://github.com/Galarius/vscode-opencl#known-issues). I hope to fix it this weekend if I can get to my Windows PC.

[2020-01-28 21:33] RunDevelopment opened #14 "Language server"
Are there plans to add a [language server](https://code.visualstudio.com/api/language-extensions/language-server-extension-guide) for OpenCL files?

Tasks are good for building kernels when you need to get the binaries but if you just want to verify that your kernel compiles, it's a bit inconvenient to manually start a task.

Unfortunately, file watchers have to be implemented by the compiler and

[2020-01-30 07:01] Galarius commented on #14
You can setup shortcuts for build tasks to run them faster. I can’t see why you need to recompile kernels on each save and especially during editing. That approach seems to be incorrect (please correct me if you think I missed the point).

[2020-01-30 12:41] RunDevelopment commented on #14
The basic idea was to get compiler feedback like for other languages (TypeScript, Java, etc.) where you instantly get feedback while typing. The instant feedback, while CPU-heavy, is a way better editing experience IMO.

I'm sorry if I haven't made this clear before but this compiler feedback is all I care about. I don't need the binary or anything else. I just want good and convenient error/warni

[2020-01-31 06:58] Galarius commented on #14
OpenCL programs are often compiled at runtime and kernels are relatively small so repetitive kernel compilation when file changes may actually work.

It reminds me of an OpenGL shader editor which updates some visual effect when shader’s code is updated. Errors are also reported, if any occurs.

I would like to introduce this feature. Maybe once my other active projects are finished :)

[2020-01-31 09:31] RunDevelopment commented on #14
Thank you for considering implementing this!

[2020-02-01 15:30] RunDevelopment opened #15 "Formatter formats more than one file"
I noticed that when formatting one document, all other opened OpenCL documents were formatted as well. If I open two `.cl` files and format one of them, the other one will get formatted as well. If I open two `.cl` files, close the first file and format the second, both files will be formatted.

The most annoying part is that when you delete or rename a previously opened file, the formatter will l

[2020-02-01 15:46] RunDevelopment opened #16 "How to clang-format without modifying the file"
All other formatters in VSCode I use (e.g. JS-, JSON-, CSS-, XML-formatters) don't modify the input file, so you can make some changes to a file, format it, make some other changes, and only then save.
This is my usual behavior which doesn't work with this extension where you have to: make some changes, save, format, make some other changes, and then save.

Not a huge issue but mildly annoying bec

[2020-02-01 16:10] RunDevelopment opened #17 "Hover provider for OpenCL C functions"
It would be great to get documentation (at least the signature) for OpenCL C built-in functions like the [math functions](https://www.khronos.org/registry/OpenCL/sdk/2.1/docs/man/xhtml/mathFunctions.html).

[2020-02-04 18:13] Galarius commented on #15
Can't reproduce it on macOS. Maybe you will get better results with `clang-format` that is shipped with `ms-vscode.cpptools` extension.

[2020-02-04 18:14] Galarius commented on #16
I need to update formatter provider for this.

[2020-02-04 18:24] RunDevelopment commented on #15
`ms-vscode.cpptools`' clang-format behaves the same. I tested this with and without setting the `-i` flag manually via `"opencl.formatting.options"`.

(I'm using VS's clang-format because `ms-vscode.cpptools` ships an older version that doesn't support a formatting option I use.)

[2020-02-11 18:41] Galarius commented on #16
@RunDevelopment , I have updated formatter provider at [pre-release 0.6.2](https://github.com/Galarius/vscode-opencl/releases/tag/0.6.2-pre). It should fix both issues (#15 and #16). Could you try it out? I made a package [vscode-opencl-0.6.2.vsix](https://github.com/Galarius/vscode-opencl/releases/download/0.6.2-pre/vscode-opencl-0.6.2.vsix)

[2020-02-11 18:55] RunDevelopment commented on #16
I would love to test it but it seems like I can't install it properly. I uninstalled v0.6.1 of the extension, restarted, installed the `.vsix` via the "Install from VSIX..." menu item. Restarted again.

When trying to format a document (`line2.cl`) VS Code just hits me with this:

![image](https://user-images.githubusercontent.com/20878432/74268408-1ffd6a00-4d08-11ea-84ad-dc867c632ea0.png)

I also

[2020-02-11 20:52] Galarius commented on #16
Thanks for testing. It seems I didn't reload after installing .vsix package.
I changed some properties in package.json and all providers were not included in .vsix file.

That was the plan. Options were meant for other formatters but `clang-format` actually needs only configuration file. I dropped support for other formatters.

[2020-02-11 21:07] RunDevelopment commented on #16
So asytle lost the race. Well, in my little bubble it seems like everybody uses clang-format anyway.

Btw. If you give the fixed `.vsix` I can also test the actual formatting ;)

[2020-02-13 18:41] Galarius commented on #16
@RunDevelopment, [vscode-opencl-0.6.3.vsix](https://github.com/Galarius/vscode-opencl/releases/download/0.6.3-pre/vscode-opencl-0.6.3.vsix) is better :)

[2020-02-13 20:15] RunDevelopment commented on #16
I installed your extension, reloaded and tested it. Here are the results:

First I used my usual setting (custom clang-format) and it didn't work. This is the `Error: spawn "..." ...` message in the dev console.

Then I removed the custom formatter, so it uses the `clang-format` shipped with `ms-vscode.cpptools`. This didn't work just as expected because `ms-vscode.cpptools` ships with an older ve

[2020-02-14 06:41] Galarius commented on #16
Thank you for the detailed description.

As for searching for ‘.clang-format’ file, I pass kernel’s content directly to stdin. In this case clang-format can only get configuration file from the current directory (according to help). I will try to find a more convenient way.

[2020-02-15 16:55] Galarius commented on #16
@RunDevelopment, I tried to reproduce that error with launching a newer `clang-format` from Visual Studio 2019, but was not able to get the error. However I updated the way I pass a file to formatter. It should fix the problem with searching for configuration file in file's parent directories. Hopefully it will also resolve the launching issue.

[vscode-opencl-0.6.4.vsix](https://github.com/Galari

[2020-02-15 19:33] RunDevelopment commented on #16
That's strange because I still get the error. I'll try it out on another machine.

![image](https://user-images.githubusercontent.com/20878432/74593967-52bda000-5031-11ea-9d98-14a15d5d9d48.png)

---

Also, with an incorrect `.clang-format` file (unsupported option in my case) and the `clang-format` from `ms-vscode.cpptools`, I get a warning and an error with the same message but not the actual det

[2020-02-15 19:41] RunDevelopment commented on #16
Yup. Same issue on my other machine.

![image](https://user-images.githubusercontent.com/20878432/74594152-72ee5e80-5033-11ea-8d84-61bc6c22d080.png)

[2020-02-15 19:43] Galarius commented on #16
What happens if you run the command which is logged in dev console from the command line?

[2020-02-15 19:52] RunDevelopment commented on #16
It just works.

[code]

[2020-02-15 20:00] Galarius commented on #16
Could you try to open your [sample.zip](https://github.com/Galarius/vscode-opencl/files/4113575/sample.zip) in vs code and run the formatter?

[2020-02-15 20:12] RunDevelopment commented on #16
I found the problem. Because of the spaces in the path to `clang-format.exe`, I had to quote the path or else it wouldn't work with the previous version of this extension. Removing the quotes makes everything work. Node's `child_process` API seems to be unable to handle the quotes.

For backward compatibility, you should probably either remove the quotes or display an error notification.

[2020-02-16 01:23] RunDevelopment commented on #16
@Galarius Found a bug.

If the file formatted is encoded as _UTF-8 with BOM_, a strange character (cp: 65279 (dec)) will be added at the beginning of the document. The code point of the character is 65279 (dec) or 0xFEFF which is the [BOM of UTF-8](https://en.wikipedia.org/wiki/Byte_order_mark).

---

Some good news: v0.6.4 resolves #15.

[2020-02-16 10:22] Galarius commented on #16
It also fails with other encodings like CP 1251.
In the previous version of the extension I used inplace formatting (flag `-i`) which handles encoding well. Now I receive stdout from `clang-format` in `utf8` encoding which breaks the content. Unfortunately I can not detect file's encoding using vscode api (There is a proposal issue already, but it is still opened).

[2020-02-16 12:51] RunDevelopment commented on #16
I don't quite understand the issue. When [formatting](https://code.visualstudio.com/api/language-extensions/programmatic-language-features#format-source-code-in-an-editor), aren't you given the JS UTF-16 string of the document via [`getText()`](https://code.visualstudio.com/api/references/vscode-api#TextDocument), so you don't have to deal with encodings?
So from my understanding, you get the text

[2020-02-16 14:46] Galarius commented on #16
Here is the catch. In the previous version I used stdin, but in this case `clang-format` can't get config file from parent directories. Now I pass a file name as an argument. It allows `clang-format` to find config file. However the result is passed to stdout which is `utf8` for `cp.spawn` by default.

I've tried [this one](https://www.npmjs.com/package/chardet). The correctness of detection is qu

[2020-02-16 14:52] RunDevelopment commented on #16
Do you have a file where I can test this on?

So, what are you doing now then? I mean, you obviously can't you the file itself for dirty documents.

[2020-02-16 15:10] Galarius commented on #16
[kernel.cl.zip](https://github.com/Galarius/vscode-opencl/files/4209936/kernel.cl.zip)

The file is saved using Windows 1251 encoding with some Cyrillic symbols at the beginning. Running `clang-format -verbose -style="{UseTab: Never, IndentWidth: 4, BreakBeforeBraces: Allman, AllowShortIfStatementsOnASingleLine: false, IndentCaseLabels: false, ColumnLimit: 0}" kernel.cl` in macOS terminal will res

[2020-02-16 16:29] RunDevelopment commented on #16
I was a little confused but now I see how you implemented it (I didn't notice the branch before). And unfortunately, this won't work.

The problem are dirty files. You just let `clang-format` read the file as is right now, so I still have to save. I don't get conflicts anymore because the current version in the editor is discarded which isn't what I want.
(Say you open a kernel, make some edits wi

[2020-02-16 16:44] RunDevelopment commented on #16
Also, just curious:
You look for whether `.clang-format` exists because it's necessary for `getClangArgumentList`. But I don't really understand why `getClangArgumentList` has [this `if`](https://github.com/Galarius/vscode-opencl/blob/1387cfac65960f72d6623a4cf5ed47d843c038ca/src/providers/formatter/clang/formatter.js#L40). Can `-fallback-style` not be an YAML object?

Also, right now, you might re

[2020-02-16 17:39] Galarius commented on #16
I see the problem. In that case using stdin is necessary.

I will look into it once more. I've just found how to provide a path to configuration file when using stdin. Just need to add `-assume-filename=`.

[2020-02-16 17:45] Galarius commented on #16
`-fallback-style='Visual Studio'` is invalid, so I needed to update `-style` argument

[code]

[2020-02-16 17:53] RunDevelopment commented on #16
The cwd alone will also work. Well, it does on my machine.

Yeah but very much possible with the current implementation.

---

To answer my own question: No, `-fallback-style` cannot be a YAML object.

[code]

[2020-02-22 18:44] Galarius commented on #16
@RunDevelopment, I have implemented everything we discussed in the [release-0.6.5-pre](https://github.com/Galarius/vscode-opencl/releases/download/0.6.5-pre/vscode-opencl-0.6.5.vsix).

[2020-02-22 19:35] RunDevelopment commented on #16
Works perfectly now! Thank you for your work!
BOM and cp1251 both work and #15 is fixed as well.

Really, thank you very much. This makes editing kernels a whole lot smoother!

[2020-02-22 19:35] #16 closed

[2020-02-22 19:37] RunDevelopment commented on #15
Fixed in pre-release v0.6.5-pre.

[2020-02-22 19:37] #15 closed

[2020-03-11 13:37] SQ-Duan opened #18 "Ctrl+K Ctrl+F doesn't work?"
## Environment
ubuntu 18.04, vscode 1.43.0

## Details
When I write code in a `.cl` file, it seems  that formatting by press `Ctrl+K Ctrl+F` doesn't work, while `Ctrl+Shift+I` or right click works well.
Is `Ctrl+K Ctrl+F` not supported or some reason else?

PS: vscode-opencl is a very nice extension, thanks for you work.

[2020-03-11 18:36] Galarius commented on #18
@SQ-Duan, selection formatting is not currently supported. It is possible to format an entire document only.

[2020-06-03 20:44] Connie120 opened #20 "Unrecognized option flag: .spirv64"
Hi! I was trying to build a opencl kernel on win10 but it shows this error:
![image](https://user-images.githubusercontent.com/54909364/83687155-5ada2500-a5b9-11ea-8b72-1b3166c43284.png)
Could you help me resolve this? Thanks!

[2020-06-04 18:33] Galarius commented on #20
Hi, @Connie120! I will research this issue.

[2020-06-07 10:57] Galarius commented on #20
@Connie120, I need to update the extension to fix this.
Until new version is released, I suggest you to create a custom build task as a workaround:

[code]

[2020-06-07 18:00] Connie120 commented on #20
I'll have a try. Thanks!

[2020-06-14 12:12] #20 closed

[2020-06-14 12:24] Galarius commented on #20
@Connie120, I have updated task provider in [vscode-opencl-0.6.6](https://github.com/Galarius/vscode-opencl/releases/tag/0.6.6).

[2020-10-02 03:57] Issung opened #23 "[Question] Possiblity of Visual Studio Community support?"
This addon seems like it would be great but I don't use visual studio code, only community, what's the possibility of creating a separate plugin for VS community? Would most code be reusable?

[2020-10-03 09:43] Galarius commented on #23
@Issung, there is an official extension from Intel for VS that is a part of [OpenCL SDK](https://software.intel.com/content/www/us/en/develop/articles/sdk-for-opencl-2020-gsg-windows-os.html).

[2020-10-03 09:43] #23 closed

[2021-04-13 13:01] kurapov-peter opened #25 "Format on save not running"
Hi, I noticed the following config doesn't work as expected:
[code]
Issuing Format Document command works fine.
Is there any specific config setting I should use to enable formatting on save?

[2021-04-13 13:07] kurapov-peter commented on #25
Actually, after running the command manually, format on save started working. The issue exists only for a new window/project. I'm able to reproduce it when creating a new working directory.

[2021-04-13 19:50] Galarius commented on #25
Hello, @kurapov-peter! I believe OpenCL formatter is not instantly available for the newly created working directory. The extension is activated only when certain conditions are met, e.g. opening file with `*.cl` extension or running command `OpenCL: Info`.

[2021-04-14 11:55] kurapov-peter commented on #25
Hi @Galarius, opening a `*.cl` file (for the first time in a newly created folder) doesn't seem to trigger the extension for me either, just FYI.

[2021-08-02 17:16] #14 closed

[2021-08-08 18:09] #17 closed

[2021-08-08 18:10] Galarius commented on #17
Introduced in `0.7.1`.

[2021-09-27 15:25] subski opened #32 "OpenCL extension error "There are no supported opencl devices" on unrelated build task."
Hello,

I'm using the OpenCL extension v0.7.1 on vscode v1.60.2.
I have a basic C/opencl project with a debug task and a build task to debug and compile the C files only with visual studio compiler.
Everything is ok when I launch the debug task or the build task separately, but when I put my build task as 'preLaunchTask' of my debug task, I get an error pop-up from the opencl extension: "There are

[2021-09-27 16:30] Galarius commented on #32
Hello, @subski.

Thank you for reporting this issue! I will look into it.

[2021-10-05 18:03] Galarius commented on #32
@subski, `preLaunchTask` launches the task provider for `OpenCL`. The extension attempts to generate a set of predefined tasks for any kernel found in a workspace (see [TASKS.md](https://github.com/Galarius/vscode-opencl/blob/master/TASKS.md) for details). If the extension failed to find at least one OpenCL device, it shows the error message. The reason of failure can be explored at the developer

[2021-10-05 19:15] Galarius opened #33 "[Language Server] `-I dir` flag does not work on some systems"
Passing `-I dir` to `clBuildProgram` does not guarantee that the header will be included. Logs:

[code]

[2021-10-05 19:15] Galarius commented on #33
According to `https://www.khronos.org/registry/OpenCL/specs/2.2/html/OpenCL_API.html#compiler-options`:

[2022-01-09 13:09] williamboman opened #34 "Provide builds via GitHub releases"
Hello! I'm looking at adding this language server to https://github.com/neovim/nvim-lspconfig and https://github.com/williamboman/nvim-lsp-installer for neovim users. It seems like the VSCode extension archive ships with prebuilt binaries for Linux, Windows, and Mac. I was wondering if you'd be open to publishing these `.vsix` files to the GitHub release assets, allowing for programmatic access vi

[2022-01-09 14:38] Galarius commented on #34
Hello, @williamboman!

OpenCL language server provides only diagnostics (compilation errors). Autocompletion, hover, and formatting are currently implemented only in a client part of the VS code extension.

If you are still interested in adding this server to `nvim-lspconfig`, then I can start with publishing `.vsix` files to the GitHub `Releases`.

[2022-01-09 14:52] williamboman commented on #34
Hm, does the server implement the LSP spec which the VSCode client then calls into (for example via `textDocument/completion` for completion)? If so, any LSP capable editor will be able to interact with the server. Or are you saying that there's a lot of features implemented in the client-side, using VSCode client APIs?

[2022-01-09 15:51] Galarius commented on #34
Yes, exactly. VSCode client API is used almost for all features. Language server supports only `textDocument/didChange` request  with `textDocument/publishDiagnostics` response.

[2022-01-10 00:16] williamboman commented on #34
Ah I see! Well in that case it might not make much sense to make it available for other editors just yet. I'll leave it up to you to decide whether you think that functionality alone could bring value to users (to me it sounds like it could, diagnostics is very helpful) :)

[2022-01-10 20:04] Galarius commented on #34
@williamboman, I have moved language server to a separate [repository](https://github.com/Galarius/opencl-language-server). Precompiled binaries are attached to the [release 0.1](https://github.com/Galarius/opencl-language-server/releases/tag/0.1).

[2022-01-10 20:04] #34 closed

[2022-01-10 20:06] williamboman commented on #34
Oh wow that's amazing!! Thanks for your efforts, developers who doesn't use VSCode are eternally grateful :)

[2022-02-24 16:33] LouChiSoft opened #35 "Add an config option for declaring defines that will be passed in at build time"
The C/C++ extension for VSCode has a feature where you can add a list of defines (and maybe their values, I have never tried it) to the c_cpp_properties.json file that it generates. IntelliSense/Syntax highlighting will then read defines and update the code as intended, greying out code that isn't going to have a define enabled etc.
It would be really useful if we could do a similar thing with thi

[2022-02-25 21:47] Galarius commented on #35
Hello, @LouChiSoft.

There is indeed no highlighting for this case. Thank you for the suggestion.

Right now, it is only possible to pass defines to the kernel compiler.
There is `OpenCL.server.buildOptions` configuration. Build options are passed exactly to [clBuildProgram](https://www.khronos.org/registry/OpenCL/sdk/1.2/docs/man/xhtml/clBuildProgram.html).

<img width="920" alt="Screenshot 2022-

[2022-02-26 01:08] LouChiSoft commented on #35
Oh cool, I hadn't populated that variable because we build our kernels at runtime so it never occurred to me that that would be a feature of that variable. Thanks

[2022-03-11 00:35] #35 closed

[2022-03-11 00:50] LouChiSoft opened #36 "Trouble getting diagnostics for CL files."
Hi I am trying to set up the extension to provide diagnostics for my CL files. I have the extension installed and the AMD OpenCL runtime as part of my driver. I have checked using the `OpenCL: Info` command and it returns a valid platform. My CL files have autocomplete and syntax highlighting, but doesn't provide any diagnostics for incorrect code. I see in the extension page that it mentions that

[2022-03-11 10:16] LouChiSoft commented on #36
Update: I did manage to find the most recent Intel OpenCL SDK from a different link [here](https://www.intel.com/content/www/us/en/developer/tools/opencl-sdk/choose-download.html, but it does still need you to sign up for it. However, installing it didn't provide diagnostics and I got the same errors in my log as above

[2022-03-12 17:57] Galarius commented on #36
Hello, @LouChiSoft!

The error `-66` is `CL_INVALID_COMPILER_OPTIONS`, which means the specified compiler options are invalid.
Even if `OpenCL.server.buildOptions` setting is empty, I still pass `-I <source directory>` option to the `clBuildProgram`.
Likely this is why compilation failed, and you do not have the diagnostics. I will remove `-I` as this option is not portable anyway ([#33]).

[2022-03-13 10:42] Galarius commented on #36
I updated `opencl-ls` and integrated binaries into the new vscode-opencl version [0.7.3](https://github.com/Galarius/vscode-opencl/releases/tag/0.7.3). It should also appear in MS Store soon.
I hope this will resolve the issue.

[2022-03-13 10:42] #36 closed

[2022-03-13 10:43] Galarius commented on #33
`-I` option removed.

[2022-03-13 10:43] #33 closed

[2022-03-13 11:28] LouChiSoft commented on #36
That's worked perfectly. Opened the same test folder and all the cl files immediately had diagnostics. Thanks for the quick turn around

[2022-06-07 14:51] LaVieEstDure commented on #13
Any updates on this? My language server diagnostics stop at the begging of the file at the #include of the other .cl file in the same directory.

[2022-06-07 19:57] Galarius commented on #13
Hello, @LaVieEstDure! No updates, couldn't get to my Windows PC ;-)

This issue is related to offline compilation using `ioc32/ioc64` compilers (not a language server). The feature is described [here](https://github.com/Galarius/vscode-opencl/blob/master/TASKS.md). There is a [workaround](https://github.com/Galarius/vscode-opencl/blob/master/FAQ.md) available. But according to your comment, it is

[2022-06-08 01:37] LaVieEstDure commented on #13
Cheers, I've gotten it to work with the `-I` option for now. Thanks for the great work!

[2022-10-24 15:47] shampletov-no opened #44 "*.cl files don't react on header file changes"
I've been working on my project in VS code 1.72.2 and recently noticed that `#include "params.h"` goes wrong. I've added some new `#define`s in the header but *.cl file gave me `use of undeclared identifier` error. It seems like a cach of the old params.h is preserved somewhere and doesn't update.

Then I've created new empty folder to test that problem, fill it with only one file, `test.cl`, and

[2022-10-25 13:25] Galarius commented on #44
Hello, @shampletov-no. Could you share the spec of your OpenCL device? If the provider is Nvidia, there is an environment variable called `CUDA_CACHE_DISABLE` (claimed to work for OpenCL as well). In addition, the cache is stored in the `%AppData%\NVIDIA\ComputeCache` directory.

Reference: https://forums.developer.nvidia.com/t/disable-caching-by-the-opencl-compiler/23752/3

[2022-10-25 13:42] shampletov-no commented on #44
Hello, @Galarius. I'm using AMD GPU (AMD Radeon 530 Series). Also I've checked my environment variables and haven't found any `...CACHE_DISABLE` or similar, it seems AMD doesn't have such a variable.

I forget to mention that I'm working on Windows. Maybe it's crucial.

[2022-10-25 14:18] shampletov-no commented on #44
### Interesting solution

Solving another problem I found that after **disabling** and subsequent **enabling** of the underlined extensions the problem is gone... Strange, but it works for me.

![image](https://user-images.githubusercontent.com/36101680/197797339-13d411db-568c-4488-8d51-5870089b4627.png)

Thank you, and sorry for the interruption)

[2022-10-25 14:18] #44 closed

[2022-10-25 14:49] Galarius commented on #44
Feel free to re-open the ticket if the issue persists.